html {
    background-color: #2d2d2d;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    user-select: none;
    gap: 4rem;
    text-align: center;
}

.body-bg {
    max-width: 100%;
    height: auto;
    pointer-events: auto;
}

.body-button {
    padding: 16px 30px;
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    background: transparent;
    animation: border-blink 4s infinite;
    pointer-events: auto;
    text-decoration: none;

    box-sizing:border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.body-icon-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;

    text-decoration: none;

    transition: background-color .2s, transform .2s;
}

