body {
    padding: 0;
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height:calc(var(--vh) * 100);
    height:auto;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    user-select:none;
    gap: 3rem;
}

body.enable-scroll {
    overflow: auto;
}

body.disable-scroll {
    overflow: hidden;
}

