/* общий контейнер */
#dresscode {
    display: flex;
    justify-content: center;
    margin: 80px auto;
    max-width: 640px;
}

/* Серый прямоугольник  */
.dc-card {
    background: #2d2d2d;
    color: #fff;
    padding: 60px 40px 40px;
    scrollbar-width: none;
    margin: 0 auto;
    width: 100%;
    overflow: visible;
}

.dc-card::-webkit-scrollbar {
    width: 0;
}

/* шапка фиксированная */
.dc-fixed {
    text-align: right;
    margin-bottom: 60px;
}

/* большой заголовок */
.dc-title-big {
    font: 700 3rem/1.1 Georgia, serif;
    margin: 0;
}

.dc-sub {
    margin: 12px 0 0;
    font: 1rem/1.5 Georgia, serif;
}

.dc-slider {
    position: relative;
    overflow: hidden;
}

.dc-slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: transform .6s ease, opacity .6s ease;
    width: 100%;
}

.dc-slide.current {
    position: relative;
    transform: translateX(0);
    opacity: 1;
}

.dc-slide.left {
    transform: translateX(-100%);
    opacity: 0;
}

.dc-gender {
    font: 700 2rem/1.2 Georgia, serif;
    margin: 0 0 20px;
}

.dc-text {
    font: 1rem/1.5 Georgia, serif;
    margin: 0 0 24px;
}

.dc-note {
    font: 1rem/1.4 Georgia, serif;
    margin: 24px 0 0;
}

.dc-palette {
    display: grid;
    gap: 4px;
    height: 50px;
    margin-bottom: 24px;
    grid-template-columns: repeat(6, 1fr);
}

/* Полоска‑контейнер */
.dc-palette span{
    position: relative;
    overflow: hidden;
    background: var(--c);
    background-blend-mode: multiply;
}

/* Картинка‑текстура */
.dc-palette span::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/dresscode/dress.jpg");
    background-size: cover;
    background-position: center;
    transform: rotate(var(--angle, 0deg));
    mix-blend-mode: multiply;
}

:root {
    --angle: 0deg;
}

.dc-hint-wrap {
    text-align: right;
    margin-top: 100px;
}

.dc-hint {
    font-family: Georgia, serif;
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom: 6px;
    margin-top: -80px;
}

.horizontal_scroll-indicator {
    position: relative;
    width: 40px;
    height: 2px;
    margin-left: auto;
    overflow: hidden;
}

.horizontal_scroll-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.horizontal_scroll-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 2px;
    background-color: white;
    animation: scrollLineX 1.5s ease-in-out infinite;
}

@keyframes scrollLineX {
    0%   { left: 0%;   opacity: 0; }
    30%  { opacity: 1; }
    50%  { left: 50%;  opacity: 1; }
    70%  { opacity: 1; }
    100% { left: 100%; opacity: 0; }
}

