.dresscode {
    width: 100%;
    text-align: left;
}

.dc-card {
    background: #2d2d2d;
    color: #fff;
    scrollbar-width: none;
    overflow: visible;
    width: 100%;
    box-sizing: border-box;
    min-height: 560px;
}

.dc-card::-webkit-scrollbar {
    width: 0;
}

.dc-fixed {
    text-align: right;
}

.dc-slider {
    position: relative;
    overflow: hidden;
    overscroll-behavior-x: contain;
    touch-action: pan-x;
    cursor: pointer;
}

.dc-slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: transform .6s ease, opacity .6s ease;
    width: 100%;
}

.dc-slide.current {
    position: relative;
    transform: translateX(0);
    opacity: 1;
}

.dc-slide.left {
    transform: translateX(-100%);
    opacity: 0;
}

.dc-palette {
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    gap: 4px;
    height: 50px;
    grid-template-columns: repeat(6, 1fr);
}

.dc-palette span {
    position: relative;
    overflow: hidden;
    background: var(--c);
    background-blend-mode: multiply;
}

.dc-palette span::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/dress.jpg");
    background-size: cover;
    background-position: center;
    transform: rotate(var(--angle, 0deg));
    mix-blend-mode: multiply;
}

.dc-hint-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.dc-note {
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.3;
    min-height: calc(1.3em * 3);
}

.dc-reference {
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

.dc-gender {
    padding-left: 40px;
    padding-right: 40px;
}

.dc-text {
    padding-left: 40px;
    padding-right: 40px;
}

.dc-title-big {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.dc-sub {
    padding-left: 40px;
    padding-right: 40px;
}

.dc-hint-wrap {
    padding-left: 40px;
    padding-right: 40px;
}