/* Вертикальный анимированный индикатор скролла */
.vertical_scroll-indicator {
    position: relative;
    overflow: hidden;
    width: 2px;
    height: 40px;
}
.vertical_scroll-track {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}
.vertical_scroll-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 10px;
    background-color: white;
    animation: scrollLineY 1.5s ease-in-out infinite;
}
@keyframes scrollLineY {
    0% { top: 0%; opacity: 0; }
    30% { opacity: 1; }
    50% { top: 50%; opacity: 1; }
    70% { opacity: 1; }
    100% { top: 100%; opacity: 0; }
}

/* Горизонтальный анимированный индикатор скролла */
.horizontal_scroll-indicator {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 2px;
}
.horizontal_scroll-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}
.horizontal_scroll-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 2px;
    background-color: white;
    animation: scrollLineX 1.5s ease-in-out infinite;
}
@keyframes scrollLineX {
    0%   { left: 0%;   opacity: 0; }
    30%  { opacity: 1; }
    50%  { left: 50%;  opacity: 1; }
    70%  { opacity: 1; }
    100% { left: 100%; opacity: 0; }
}

/* Анимированный индикатор тапа */
.tap-target {
    position: relative;
    width: 80px;
    height: 80px;
    
    min-width: 80px;
    min-height: 80px;
}

.tap-target,
.tap-target *{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    cursor: pointer;
}

.tap-target.initial .tap-ring {
    animation: pulse 2s ease-out infinite;
}

.tap-target.initial .tap-ring.r2 {
    animation-delay: -500ms;
}

.tap-target.initial .tap-ring.r3 {
    animation-delay: 500ms;
}

.tap-target.spread .tap-ring {
    animation: pulse-spread 1.6s ease-out forwards;
}

.tap-target.spread .tap-ring.r2 {
    animation-delay: 500ms;
}

.tap-target.spread .tap-ring.r3 {
    animation-delay: -500ms;
}

.tap-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 1;
}

.r1 { width: 100%; height: 100%; }
.r2 { width: 80%;  height: 80%;  }
.r3 { width: 40%;  height: 40%;  }

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    70%  {
        opacity: 0.3;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}

@keyframes pulse-spread {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(4);
        opacity: 0;
    }
}
