.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    z-index: 6;
}

.main-scrollable {
    max-width: 640px;
    width: 100%;
    height: auto;

    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    user-select: none;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
}


