.main {
    position: relative;
    width:100vw;
    height:100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: #2d2d2d;
    z-index: 6;
}


