.place {
    background-color: white;
    text-align: center;
}

.place-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #2d2d2d;
    color: white;
    padding: 40px 0;
    /*border-radius: 500px / 500px;*/
    /*aspect-ratio: 2 / 1;*/
    /*border-radius: 40%;*/
    position: relative;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    box-sizing:border-box;
    max-width: 100%;
}

.place-logo {
    width: 40%;
    height: auto;
}

.place-button {
    width: 40%;
    padding: 16px 30px;
    border: 2px solid white;
    box-sizing:border-box;
    border-radius: 40px;
    color: white;
    background: transparent;
    animation: border-blink 4s infinite;
    pointer-events: auto;
}

.place-button:hover {
    background-color: rgba(255, 255, 255, 0.11);
    color: #2d2d2d;
}

