.place {
    background-color: white;
    text-align: center;
}

.place-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #2d2d2d;
    color: white;
    padding: 40px 0;
    position: relative;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    box-sizing:border-box;
    max-width: 100%;
}

.place-logo {
    max-width: clamp(320px, 40%, 320px);
    height: auto;
}

.body-button:hover {
    background-color: rgba(255, 255, 255, 0.11);
    color: #2d2d2d;
}

