.program {
    color: black;
    text-align: center;
    width: 100%;
    padding-inline: 4%;
    box-sizing: border-box;
    position: relative;
}

.program-list {
    list-style-type: disc;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.program-bg-container {
    position: absolute;
    inset: 0; 
}

.program-bg {
    position: absolute;
    width: 100%;
    bottom: -6rem;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    opacity: 12%;
    pointer-events: none;
}

.program-item {
    flex-direction: row;
    align-items: start;
}

.program-line {
    content: '';
    height: 1px;
    background: #000;
}

.program-content { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.program-desc {
    text-align: left;
    margin: 0 0;
}