.program {
    color: black;
    text-align: center;
    width: 100%;
    padding-inline: 4%;
    box-sizing: border-box;
}

.program-list {
    list-style-type: disc;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.program-item {
    flex-direction: row;
    align-items: start;
}

.program-line {
    content: '';
    height: 1px;
    background: #000;
}

.program-content { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.program-desc {
    /*opacity: 0.7;*/
    text-align: left;
    margin: 0 0;
}